body {
    background-color: black;
    color: white;
}

header {
    margin: 5%;
    width: 50%;
    text-align: center;
}

h1 {
    margin: 0%;
    font-size: xx-large;
    margin-bottom: 5%;
}

.info {
    display: flex;
    justify-content: space-around;
}

p {
    margin: 2%;
    white-space: nowrap;
}

span {
    margin-left: 8px;
    position: absolute;
}

/*animation pacman*/
.pacman {
    background-image: url('img/css-sprite-PacMan.png');
    background-position: -18px -0px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}

@keyframes Animation-ArrowUp {
    0% {
        background-position: -34px -0px;
        transform: scale(1.8) translateY(0px) rotate(270deg);
    }

    25% {
        background-position: -18px -0px;
        transform: scale(1.8) translateY(-4px) rotate(270deg);
    }

    50% {
        background-position: -1px -0px;
        transform: scale(1.8) translateY(-8px) rotate(270deg);
    }

    75% {
        background-position: -18px -0px;
        transform: scale(1.8) translateY(-12px) rotate(270deg);
    }

    100% {
        background-position: -34px -0px;
        transform: scale(1.8) translateY(-16px) rotate(270deg);
    }
}

@keyframes Animation-ArrowDown {
    0% {
        background-position: -34px -0px;
        transform: scale(1.8) translateY(0px) rotate(90deg);
    }

    25% {
        background-position: -18px -0px;
        transform: scale(1.8) translateY(4px) rotate(90deg);
    }

    50% {
        background-position: -1px -0px;
        transform: scale(1.8) translateY(8px) rotate(90deg);
    }

    75% {
        background-position: -18px -0px;
        transform: scale(1.8) translateY(12px) rotate(90deg);
    }

    100% {
        background-position: -34px -0px;
        transform: scale(1.8) translateY(16px) rotate(90deg);
    }
}

@keyframes Animation-ArrowLeft {
    0% {
        background-position: -34px -0px;
        transform: scale(1.8) translateX(0px) rotate(180deg);
    }

    25% {
        background-position: -18px -0px;
        transform: scale(1.8) translateX(-4px) rotate(180deg);
    }

    50% {
        background-position: -1px -0px;
        transform: scale(1.8) translateX(-8px) rotate(180deg);
    }

    75% {
        background-position: -18px -0px;
        transform: scale(1.8) translateX(-12px) rotate(180deg);
    }

    100% {
        background-position: -34px -0px;
        transform: scale(1.8) translateX(-16px) rotate(180deg);
    }
}

@keyframes Animation-ArrowRight {
    0% {
        background-position: -34px -0px;
        transform: scale(1.8) translateX(0px);
    }

    25% {
        background-position: -18px -0px;
        transform: scale(1.8) translateX(4px);
    }

    50% {
        background-position: -1px -0px;
        transform: scale(1.8) translateX(8px);
    }

    75% {
        background-position: -18px -0px;
        transform: scale(1.8) translateX(12px);
    }

    100% {
        background-position: -34px -0px;
        transform: scale(1.8) translateX(16px);
    }
}

/*animation blinky*/
.blinky {
    background-image: url('img/css-sprite-PacMan.png');
    background-position: -34px -65px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    transform: scale(1.8);
    animation: Animation-Stopped-Blinky 0.4s steps(1) infinite;
}

@keyframes Animation-Stopped-Blinky {
    0% {
        background-position: -50px -65px;
        transform: scale(1.8);
    }

    25% {
        background-position: -34px -65px;
        transform: scale(1.8);
    }

    50% {
        background-position: -50px -65px;
        transform: scale(1.8);
    }

    75% {
        background-position: -34px -65px;
        transform: scale(1.8);
    }

    100% {
        background-position: -50px -65px;
        transform: scale(1.8);
    }
}

/*animation inky*/
.inky {
    background-image: url('img/css-sprite-PacMan.png');
    background-position: -34px -96px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    transform: scale(1.8);
    animation: Animation-Stopped-Inky 0.4s steps(1) infinite;
}

@keyframes Animation-Stopped-Inky {
    0% {
        background-position: -50px -96px;
        transform: scale(1.8);
    }

    25% {
        background-position: -34px -96px;
        transform: scale(1.8);
    }

    50% {
        background-position: -50px -96px;
        transform: scale(1.8);
    }

    75% {
        background-position: -34px -96px;
        transform: scale(1.8);
    }

    100% {
        background-position: -50px -96px;
        transform: scale(1.8);
    }
}

/*animation pinky*/
.pinky {
    background-image: url('img/css-sprite-PacMan.png');
    background-position: -34px -80px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    transform: scale(1.8);
    animation: Animation-Stopped-Pinky 0.4s steps(1) infinite;
}

@keyframes Animation-Stopped-Pinky {
    0% {
        background-position: -50px -80px;
        transform: scale(1.8);
    }

    25% {
        background-position: -34px -80px;
        transform: scale(1.8);
    }

    50% {
        background-position: -50px -80px;
        transform: scale(1.8);
    }

    75% {
        background-position: -34px -80px;
        transform: scale(1.8);
    }

    100% {
        background-position: -50px -80px;
        transform: scale(1.8);
    }
}

/*animation clyde*/
.clyde {
    background-image: url('img/css-sprite-PacMan.png');
    background-position: -34px -112px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    transform: scale(1.8);
    animation: Animation-Stopped-Clyde 0.4s steps(1) infinite;
}

@keyframes Animation-Stopped-Clyde {
    0% {
        background-position: -50px -112px;
        transform: scale(1.8);
    }

    25% {
        background-position: -34px -112px;
        transform: scale(1.8);
    }

    50% {
        background-position: -50px -112px;
        transform: scale(1.8);
    }

    75% {
        background-position: -34px -112px;
        transform: scale(1.8);
    }

    100% {
        background-position: -50px -112px;
        transform: scale(1.8);
    }
}


/*field*/
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #8ae5e31b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-1 {
    background-color: #f7ff5c;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.cell-2 {
    background-color: #f7ff5c;
    width: 78%;
    height: 78%;
    border-radius: 50%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    width: auto;
    flex-direction: column;
    background-size: cover;
    background-image: url('img/css-sprite-field.png');
    background-position: center;
}

.col {
    display: flex;
}